In [11]:
old_list = [1,2,3,4,5]
new_list = []
for cat in old_list:
    new_list.append(cat ** 2)
    
new_list

[1, 4, 9, 16, 25]

In [3]:
new_list = [item ** 2 for item in old_list]
new_list

[1, 4, 9, 16, 25]

In [4]:
old_list = [1,2,3,4,5]
new_list = []
for item in old_list:
    if item % 2 == 0:
        new_list.append(item * 2)
        
new_list

[4, 8]

In [5]:
new_list = [item * 2 for item in old_list if item % 2 == 0]
new_list

[4, 8]

In [16]:
old_list = [1,2,3,4,5,6,7,8,9,10]

In [17]:
new_list = [miraen * 3 for miraen in old_list if miraen % 3 == 0]

In [18]:
new_list

[9, 18, 27]

In [ ]:
num_list = [cat for cat in range(1,100+1)]
new_list = []

for cat in num_list:
    if cat % 15 == 0:
        new_list.append("fizzbuzz")
    else:
        if cat % 3 == 0:
            new_list.append("fizz")
        else:
            if cat % 5 == 0:
                new_list.append("buzz")
            else:
                new_list.append(cat)
        
new_list

In [31]:
new_list = ["fizzbuzz" if i%15==0 else "fizz" if i%3==0 else "buzz" if i%5==0 else i for i in num_list]
new_list

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz',
 31,
 32,
 'fizz',
 34,
 'buzz',
 'fizz',
 37,
 38,
 'fizz',
 'buzz',
 41,
 'fizz',
 43,
 44,
 'fizzbuzz',
 46,
 47,
 'fizz',
 49,
 'buzz',
 'fizz',
 52,
 53,
 'fizz',
 'buzz',
 56,
 'fizz',
 58,
 59,
 'fizzbuzz',
 61,
 62,
 'fizz',
 64,
 'buzz',
 'fizz',
 67,
 68,
 'fizz',
 'buzz',
 71,
 'fizz',
 73,
 74,
 'fizzbuzz',
 76,
 77,
 'fizz',
 79,
 'buzz',
 'fizz',
 82,
 83,
 'fizz',
 'buzz',
 86,
 'fizz',
 88,
 89,
 'fizzbuzz',
 91,
 92,
 'fizz',
 94,
 'buzz',
 'fizz',
 97,
 98,
 'fizz',
 'buzz']

In [32]:
import pandas as pd

In [34]:
df = pd.read_excel("./data/userlist.xlsx", sheet_name="Sheet1")
df

,id,firstname,lastname,phone,email,location
0,1,Matt,Rutherford,010-9138-4981,matt.rutherford@fastcampus.co.kr,Jeon-la
1,2,Benjamin,Ogden,010.3692.1102,benjamin.ogden@gmail.com,Chung-cheong
2,3,Penelope,James,010-4078-1277,penelope.james@gmail.com,Daegu
3,4,Jonathan,Campbell,1026866791,jonathan.campbell at gmail dot com,Incheon
4,5,John,Howard,010-9300-0398,john.howard@naver.net,Chung-cheong
5,6,Sophie,Pullman,1019699769,sophie.pullman at naver dot com,Jeon-la
6,7,Owen,Fisher,010-2376-9294,owen.fisher@gmail.com,Gang-won
7,8,Ryan,Reid,010-0628-4919,ryan.reid@gmail.com,Chung-cheong
8,9,Tracey,Clark,010-5041-6919,tracey.clark@gmail.com,Chung-cheong
9,10,Adam,Lee,010.0777.6573,adam.lee@gmail.com,Ulsan
10,11,Jasmine,Clark,1097786498,jasmine.clark at gmail dot com,Gyung-sang
11,12,Emma,Hart,010-0506-4726,emma.hart@gamil.com,Busan
12,13,David,Mitchell,1048562054,david.mitchell@gmail.com,Gyeon-gi
13,14,Mary,Alsop,010.9855.8071,mary.alsop@gmail.com,Jeon-la
14,15,Tracey,Marshall,010.5817.3912,tracey.marshall@gmail.com,Seoul
15,16,Warren,Simpson,010-6605-7375,warren.simpson@naver.com,Jeon-la
16,17,Bernadette,Hughes,1013100805,bernadette.hughes@gmail.com,Incheon
17,18,Victor,Randall,1008146533,victor.randall@hanmail.net,Gyeon-gi
18,19,Jane,Gray,010-2939-0184,jane.gray@gmail.com,Je-ju
19,20,Lucas,Grant,010-1917-3366,lucas.grant@gmail.com,Incheon

In [41]:
df["email"][3] = df["email"][3].replace(" at ", "@").replace(" dot ", ".")
df["email"][3]

/Users/ulgoon/.pyenv/versions/3.6.2/envs/jakdang/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

'jonathan.campbell@gmail.com'

In [43]:
df["fullname"] = df["firstname"] + " " + df["lastname"]
df

,id,firstname,lastname,phone,email,location,fullname
0,1,Matt,Rutherford,010-9138-4981,matt.rutherford@fastcampus.co.kr,Jeon-la,Matt Rutherford
1,2,Benjamin,Ogden,010.3692.1102,benjamin.ogden@gmail.com,Chung-cheong,Benjamin Ogden
2,3,Penelope,James,010-4078-1277,penelope.james@gmail.com,Daegu,Penelope James
3,4,Jonathan,Campbell,1026866791,jonathan.campbell@gmail.com,Incheon,Jonathan Campbell
4,5,John,Howard,010-9300-0398,john.howard@naver.net,Chung-cheong,John Howard
5,6,Sophie,Pullman,1019699769,sophie.pullman at naver dot com,Jeon-la,Sophie Pullman
6,7,Owen,Fisher,010-2376-9294,owen.fisher@gmail.com,Gang-won,Owen Fisher
7,8,Ryan,Reid,010-0628-4919,ryan.reid@gmail.com,Chung-cheong,Ryan Reid
8,9,Tracey,Clark,010-5041-6919,tracey.clark@gmail.com,Chung-cheong,Tracey Clark
9,10,Adam,Lee,010.0777.6573,adam.lee@gmail.com,Ulsan,Adam Lee
10,11,Jasmine,Clark,1097786498,jasmine.clark at gmail dot com,Gyung-sang,Jasmine Clark
11,12,Emma,Hart,010-0506-4726,emma.hart@gamil.com,Busan,Emma Hart
12,13,David,Mitchell,1048562054,david.mitchell@gmail.com,Gyeon-gi,David Mitchell
13,14,Mary,Alsop,010.9855.8071,mary.alsop@gmail.com,Jeon-la,Mary Alsop
14,15,Tracey,Marshall,010.5817.3912,tracey.marshall@gmail.com,Seoul,Tracey Marshall
15,16,Warren,Simpson,010-6605-7375,warren.simpson@naver.com,Jeon-la,Warren Simpson
16,17,Bernadette,Hughes,1013100805,bernadette.hughes@gmail.com,Incheon,Bernadette Hughes
17,18,Victor,Randall,1008146533,victor.randall@hanmail.net,Gyeon-gi,Victor Randall
18,19,Jane,Gray,010-2939-0184,jane.gray@gmail.com,Je-ju,Jane Gray
19,20,Lucas,Grant,010-1917-3366,lucas.grant@gmail.com,Incheon,Lucas Grant

In [50]:
for loc in list(set(list(df["location"]))):
    num = list(df["location"]).count(loc)
    print(loc, num)

Seoul 1
Gang-won 1
Je-ju 1
Daegu 1
Busan 1
Incheon 3
Gyeon-gi 2
Jeon-la 4
Ulsan 1
Chung-cheong 4
Gyung-sang 1

In [52]:
df["phone"][0] = df["phone"][0].replace("-","")
df["phone"][0]

/Users/ulgoon/.pyenv/versions/3.6.2/envs/jakdang/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

'01091384981'

In [55]:
df = df.drop("firstname", axis=1)
df

,id,lastname,phone,email,location,fullname
0,1,Rutherford,01091384981,matt.rutherford@fastcampus.co.kr,Jeon-la,Matt Rutherford
1,2,Ogden,010.3692.1102,benjamin.ogden@gmail.com,Chung-cheong,Benjamin Ogden
2,3,James,010-4078-1277,penelope.james@gmail.com,Daegu,Penelope James
3,4,Campbell,1026866791,jonathan.campbell@gmail.com,Incheon,Jonathan Campbell
4,5,Howard,010-9300-0398,john.howard@naver.net,Chung-cheong,John Howard
5,6,Pullman,1019699769,sophie.pullman at naver dot com,Jeon-la,Sophie Pullman
6,7,Fisher,010-2376-9294,owen.fisher@gmail.com,Gang-won,Owen Fisher
7,8,Reid,010-0628-4919,ryan.reid@gmail.com,Chung-cheong,Ryan Reid
8,9,Clark,010-5041-6919,tracey.clark@gmail.com,Chung-cheong,Tracey Clark
9,10,Lee,010.0777.6573,adam.lee@gmail.com,Ulsan,Adam Lee
10,11,Clark,1097786498,jasmine.clark at gmail dot com,Gyung-sang,Jasmine Clark
11,12,Hart,010-0506-4726,emma.hart@gamil.com,Busan,Emma Hart
12,13,Mitchell,1048562054,david.mitchell@gmail.com,Gyeon-gi,David Mitchell
13,14,Alsop,010.9855.8071,mary.alsop@gmail.com,Jeon-la,Mary Alsop
14,15,Marshall,010.5817.3912,tracey.marshall@gmail.com,Seoul,Tracey Marshall
15,16,Simpson,010-6605-7375,warren.simpson@naver.com,Jeon-la,Warren Simpson
16,17,Hughes,1013100805,bernadette.hughes@gmail.com,Incheon,Bernadette Hughes
17,18,Randall,1008146533,victor.randall@hanmail.net,Gyeon-gi,Victor Randall
18,19,Gray,010-2939-0184,jane.gray@gmail.com,Je-ju,Jane Gray
19,20,Grant,010-1917-3366,lucas.grant@gmail.com,Incheon,Lucas Grant

In [56]:
df = df.drop("lastname", axis=1)
df

,id,phone,email,location,fullname
0,1,01091384981,matt.rutherford@fastcampus.co.kr,Jeon-la,Matt Rutherford
1,2,010.3692.1102,benjamin.ogden@gmail.com,Chung-cheong,Benjamin Ogden
2,3,010-4078-1277,penelope.james@gmail.com,Daegu,Penelope James
3,4,1026866791,jonathan.campbell@gmail.com,Incheon,Jonathan Campbell
4,5,010-9300-0398,john.howard@naver.net,Chung-cheong,John Howard
5,6,1019699769,sophie.pullman at naver dot com,Jeon-la,Sophie Pullman
6,7,010-2376-9294,owen.fisher@gmail.com,Gang-won,Owen Fisher
7,8,010-0628-4919,ryan.reid@gmail.com,Chung-cheong,Ryan Reid
8,9,010-5041-6919,tracey.clark@gmail.com,Chung-cheong,Tracey Clark
9,10,010.0777.6573,adam.lee@gmail.com,Ulsan,Adam Lee
10,11,1097786498,jasmine.clark at gmail dot com,Gyung-sang,Jasmine Clark
11,12,010-0506-4726,emma.hart@gamil.com,Busan,Emma Hart
12,13,1048562054,david.mitchell@gmail.com,Gyeon-gi,David Mitchell
13,14,010.9855.8071,mary.alsop@gmail.com,Jeon-la,Mary Alsop
14,15,010.5817.3912,tracey.marshall@gmail.com,Seoul,Tracey Marshall
15,16,010-6605-7375,warren.simpson@naver.com,Jeon-la,Warren Simpson
16,17,1013100805,bernadette.hughes@gmail.com,Incheon,Bernadette Hughes
17,18,1008146533,victor.randall@hanmail.net,Gyeon-gi,Victor Randall
18,19,010-2939-0184,jane.gray@gmail.com,Je-ju,Jane Gray
19,20,010-1917-3366,lucas.grant@gmail.com,Incheon,Lucas Grant

In [57]:
df = df.drop(3, axis=0)
df

,id,phone,email,location,fullname
0,1,01091384981,matt.rutherford@fastcampus.co.kr,Jeon-la,Matt Rutherford
1,2,010.3692.1102,benjamin.ogden@gmail.com,Chung-cheong,Benjamin Ogden
2,3,010-4078-1277,penelope.james@gmail.com,Daegu,Penelope James
4,5,010-9300-0398,john.howard@naver.net,Chung-cheong,John Howard
5,6,1019699769,sophie.pullman at naver dot com,Jeon-la,Sophie Pullman
6,7,010-2376-9294,owen.fisher@gmail.com,Gang-won,Owen Fisher
7,8,010-0628-4919,ryan.reid@gmail.com,Chung-cheong,Ryan Reid
8,9,010-5041-6919,tracey.clark@gmail.com,Chung-cheong,Tracey Clark
9,10,010.0777.6573,adam.lee@gmail.com,Ulsan,Adam Lee
10,11,1097786498,jasmine.clark at gmail dot com,Gyung-sang,Jasmine Clark
11,12,010-0506-4726,emma.hart@gamil.com,Busan,Emma Hart
12,13,1048562054,david.mitchell@gmail.com,Gyeon-gi,David Mitchell
13,14,010.9855.8071,mary.alsop@gmail.com,Jeon-la,Mary Alsop
14,15,010.5817.3912,tracey.marshall@gmail.com,Seoul,Tracey Marshall
15,16,010-6605-7375,warren.simpson@naver.com,Jeon-la,Warren Simpson
16,17,1013100805,bernadette.hughes@gmail.com,Incheon,Bernadette Hughes
17,18,1008146533,victor.randall@hanmail.net,Gyeon-gi,Victor Randall
18,19,010-2939-0184,jane.gray@gmail.com,Je-ju,Jane Gray
19,20,010-1917-3366,lucas.grant@gmail.com,Incheon,Lucas Grant

In [69]:
phone_list = list(df["phone"]) # 여러번 수행해야..

for num in phone_list:
    try:
        index = phone_list.index(num)
        df["phone"][index] = num.replace("-", "").replace(".", "")
    except AttributeError as e:
        pass
df["phone"]

0     01091384981
1     01036921102
2     01040781277
4     01006284919
5     01050416919
6     01007776573
7     01007776573
8     01005064726
9     01005064726
10    01098558071
11    01058173912
12    01066057375
13    01066057375
14    01066057375
15    01029390184
16    01019173366
17    01093000398
18    01093000398
19    01093000398
3     01023769294
Name: phone, dtype: object

In [70]:
df

,id,phone,email,location,fullname
0,1,01091384981,matt.rutherford@fastcampus.co.kr,Jeon-la,Matt Rutherford
1,2,01036921102,benjamin.ogden@gmail.com,Chung-cheong,Benjamin Ogden
2,3,01040781277,penelope.james@gmail.com,Daegu,Penelope James
4,5,010-9300-0398,john.howard@naver.net,Chung-cheong,John Howard
5,6,1019699769,sophie.pullman at naver dot com,Jeon-la,Sophie Pullman
6,7,010-2376-9294,owen.fisher@gmail.com,Gang-won,Owen Fisher
7,8,010-0628-4919,ryan.reid@gmail.com,Chung-cheong,Ryan Reid
8,9,010-5041-6919,tracey.clark@gmail.com,Chung-cheong,Tracey Clark
9,10,010.0777.6573,adam.lee@gmail.com,Ulsan,Adam Lee
10,11,1097786498,jasmine.clark at gmail dot com,Gyung-sang,Jasmine Clark
11,12,010-0506-4726,emma.hart@gamil.com,Busan,Emma Hart
12,13,1048562054,david.mitchell@gmail.com,Gyeon-gi,David Mitchell
13,14,010.9855.8071,mary.alsop@gmail.com,Jeon-la,Mary Alsop
14,15,010.5817.3912,tracey.marshall@gmail.com,Seoul,Tracey Marshall
15,16,010-6605-7375,warren.simpson@naver.com,Jeon-la,Warren Simpson
16,17,1013100805,bernadette.hughes@gmail.com,Incheon,Bernadette Hughes
17,18,1008146533,victor.randall@hanmail.net,Gyeon-gi,Victor Randall
18,19,010-2939-0184,jane.gray@gmail.com,Je-ju,Jane Gray
19,20,010-1917-3366,lucas.grant@gmail.com,Incheon,Lucas Grant

In [71]:
df.to_excel("./new_user_list.xlsx", sheet_name="Kitten")

In [74]:
try:
    number = int(input("Type the number: "))
except ValueError as e:
    print("I said NUMBER!!!!!!!!")

Type the number: "가나다"
I said NUMBER!!!!!!!!

In [75]:
try:
    f = open("no_existance.txt", "r")
except FileNotFoundError as e:
    print(e)
else:
    text = f.readline()

[Errno 2] No such file or directory: 'no_existance.txt'

In [79]:
class Bread():
    def __init__(self):
        self.fire = fire
        self.oil = oil
        
    def recipe(self, dough, fill):
        self.dough = dough
        self.fill = fill
    
    def bake(self):
        return "Hot bread baked with %s and %s" % (self.dough, self.fill)

In [80]:
boongeo = Bread()

In [81]:
boongeo.recipe("wheat", "redbean")

In [82]:
boongeo.bake()

'Hot bread baked with wheat and redbean'

In [83]:
eggbread = Bread()

In [84]:
eggbread.recipe("wheat", "egg")

In [85]:
eggbread.bake()

'Hot bread baked with wheat and egg'